/* Positioning banner and color */
.banner {
    color:white;
    object-fit: contain;
    height: 448px;
}

/* Positioning banner content */
.banner__contents {
    margin-left: 30px;
    padding-top:140px;
    height: 190px;
}
/* Styling banner title */
.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;;
}

/* Styling banner description font*/
.banner__description {
width: 45rem;
line-height: 1.3;
padding-top:1rem;
font-size:0.8rem;
max-width: 360px;
height:80px;
}

/* Styling buttons */
.banner__button {
    cursor:pointer;
    color:#fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);    
}

/* Styling hover effect */
.banner__button:hover {
    color:#000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

/* Creates a fade in banner bottom effect */
.banner--fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111)
}

.banner__button11 {
    cursor:pointer;
    color:#fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);    
}

.banner__button111 {
    cursor:pointer;
    color:#fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);    
}
